<%- include('partials/header') -%>

<main class ="bg-slate-200">
    <section class="menu-container">
        <div class="flex justify-center grid grid-cols-3">
            <h1 class="text-7xl text-white col-start-2 ">Trailblazers</h1>
            <h3 class="text-4xl text-white col-start-2 mt-5">Review, Rate and Ramble</h3>
        </div>
    </section>


<div class="grid grid-cols-9 bg-slate-200 btn-group">
    <a href="/login" class="btn btn-active col-start-3"> Login</a>
    <a href="/signup" class="btn btn-active col-start-7"> Signup</a>
</div>
</main>
<!-- Shows two buttons, one for login and one for signup. -->
   
   

<%- include('partials/footer') -%>