<%- include('partials/header') -%>
<section class="h-5/6">
<div class="hero min-h-screen" style="background-image: url('/Images/alberta-2297204.jpg');">
    <div class="hero-overlay bg-opacity-20"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-8xl font-bold">Trailblazers</h1>
        <h2 class="mb-5 text-3xl font-bold">Helps you connect and share your adventures with other walkers, hikers and climbers</h2>
        <%if(loggedInUser == undefined){ %>
        <a href="/login"><button class="btn mx-10 btn-grey">Login</button></a>
        <a href="/signup"><button class="btn mx-10 btn-grey">Sign up</button></a>
        <%}%>
      </div>
    </div>
  </div>
</section>
<!-- Shows two buttons, one for login and one for signup. -->
   
   

<%- include('partials/footer') -%>