<%- include('partials/header') -%>
<div class="signup-container"></div>
<main class="">
  <div class="">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <!-- If there are flash errors, display them to the user. -->
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>

    <form class="grid grid-cols-5" action="/login" method="POST">
      <div class="col-start-2">
        <div class="mb-3 form-control w-full max-w-xs file-input-lg">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="input input-bordered w-full max-w-xs file-input-lg form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" />
        </div>
      </div>

      <div class="col-start-4">
        <div class="mb-3 form-control w-full max-w-xs file-input-lg">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="input input-bordered w-full max-w-xs form-control file-input-lg"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary col-start-4">Submit</button>
      </div>
      

     
    </form>
    </section>
  </div>
</main>
 <!-- Login form using email and password alongside a submit button. -->

<%- include('partials/footer') -%>
