<%- include('partials/header') -%>
<!-- header image -->
<div class="profile--header-container"></div>

<main class="grid grid-cols-9 bg-slate-200">
  <div class="border border-2 col-start-2" >
    <div class="w-full h-28 bg-slate-300 static">
      <div class="avatar">
        <div class="w-40 rounded absolute">
          <img class="border-2" src="/Images/dog-983014_1920.jpg" />
          <button class="container btn btn-outline mt-4">Button</button>
        </div>
      </div>
    </div>
  </div>

    <div class="border border-2 col-start-3">
        <h2>User Name</h2>
    </div>

    <div class="border border-2 col-start-7">
        <h5>Posts</h5>
    </div>

    <div class="border border-2 col-start-8">
        <h5>Likes</h5>
    </div>
  </main>
  
  <section class="grid grid-cols-9">
    <section class="border border-2 col-start-2 col-span-2 my-4" >
      <div class="border border-4 h-52 bg-slate-200">
        <p>thid id my bio</p>
      </div>
    </section>
    
    <section class="border border-2 col-start-4 col-span-6 grid grid-cols-2" >
      <div class="card card-compact w-96 bg-base-100 shadow-xl mx-auto">
        <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card card-compact w-96 bg-base-100 shadow-xl mx-auto">
        <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </section>
      
    </section>
    
</main>

<%- include('partials/footer') -%>

