<%- include('partials/header') -%>

<div class="hero min-h-screen" style="background-image: url(/Images/funes-4984899.jpg);">
  <div class="hero-overlay bg-opacity-20"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      
      <!-- Sign up -->
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-slate-300">
        <div class="card-body">
          <form action="/signup" method="POST">

          <div class="form-control">
            <h2 class="text-black text-2xl">Create an account today</h2>
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" placeholder="username" class="input input-bordered text-black" id="userName" name="userName"/>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered text-black" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered text-black" id="password" name="password"/>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm Password</span>
            </label>
            <input type="password" placeholder="confirm password" class="input input-bordered text-black" id="confirmPassword" name="confirmPassword"/>
          </div>

          <div class="form-control mt-3">
            <button class="btn btn-grey">Login</button>
          </div>
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger bg-slate-300 text-red-600 justify-start"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-info justify-start"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>