<%- include('partials/header') -%>

<div class="hero min-h-screen" style="background-image: url(/Images/funes-4984899.jpg);">
  <div class="hero-overlay bg-opacity-20"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-slate-300">
        <div class="card-body">
          <div class="form-control">
            <h2 class="text-black text-2xl">Create an account today</h2>
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" placeholder="email" class="input input-bordered" />
          </div>
          <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" placeholder="username" class="input input-bordered" />
        </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="text" placeholder="password" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm assword</span>
            </label>
            <input type="text" placeholder="confirm password" class="input input-bordered" />
          </div>
          <div class="form-control mt-3">
            <button class="btn btn-grey">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>


<!-- 
<div class="signup-container"></div>
<main class="">
    <section class="">
        <div class="">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger bg-slate-200"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                
                <form class="grid grid-cols-5" action="/signup" method="POST">
                <div class="col-start-2">
                    <div class="mb-3 form-control w-full max-w-xs file-input-lg">
                      <label for="userName" class="form-label">User Name</label>
                      <input type="text" class="form-control" class="input input-bordered w-full max-w-xs form-control" id="userName" name="userName" />
                    </div>

                    <div class="mb-3 form-control w-full max-w-xs file-input-lg">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" class="input input-bordered w-full max-w-xs form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" />
                    </div>
                     <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>

                  <div class="col-start-4">
                    <div class="mb-3 form-control w-full max-w-xs file-input-lg">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" class="input input-bordered w-full max-w-xs form-control" id="password" name="password" />
                    </div>

                    <div class="mb-3 form-control w-full max-w-xs file-input-lg">
                      <label for="confirmPassword" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" class="input input-bordered w-full max-w-xs" id="confirmPassword" name="confirmPassword" />
                    </div>
                    <button type="submit" class="btn btn-primary col-start-4 mt-4">Submit</button>
                  </div>
                   
                  </form>
            </section>
        </div>
      </section>
    </main> -->
    <!-- Form to sign up to the social media site. It has an input for user name, email address, password, confirm email address and confirm password. There is a div which states we will not share your email with anyone and a button for submitting the form. -->

