@tailwind base;
@tailwind components;
@tailwind utilities;

.profile--header-container {
    width: 100%;
    height: 20rem;
    object-position: top;
    background: url('/Images/funes-4984899.jpg') 6% 15% no-repeat;
    background-size: cover;
    object-fit: cover;
    padding-top: 2rem;
        /* background: var(--light-gray); */
    }

    .signup-container {
        width: 100%;
        height: 26rem;
        object-position: top;
        background: url('/Images/funes-4984899.jpg') 6% 15% no-repeat;
        background-size: cover;
        object-fit: cover;
        padding-top: 2rem;
            /* background: var(--light-gray); */
        }

        .menu-container {
            width: 100%;
            height: 39rem;
            object-position: top;
            background: url('/Images/alberta-2297204.jpg') no-repeat;
            background-size: cover;
            object-fit: cover;
                /* background: var(--light-gray); */
            }

.absolute{
    margin-top: -200px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top: auto;
}

button.btn-grey{
background-color: rgb(15 23 42);
color: white;
font-weight: 600;
}

button.btn-grey:hover{
color: white;
background-color: rgb(100 116 139);
}

.fa-heart:hover{
color: rgb(240, 131, 216);
background: rgb(15 23 42);
}

.likesText{
    color: rgb(240, 131, 216);
    }

.fa-trash:hover{
    color: gray;
    background: rgb(15 23 42);
}

.fa-comment:hover{
    color: rgb(0, 153, 255);
    background: rgb(15 23 42);
}

.rating-mdlg input {
    height: 2rem;
    width: 2rem;
}